<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MercadoLiebre</title>
   
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">
</head>
<body>
    <header>
        <div class="top-Header">
        <div class="logo"> 
            <img src="/images/logo-mercado-liebre.svg" alt="Logo de MercadoLiebre">
        </div>
        <div class="form" action="#" method="GET">
            <div class="input">Buscar productos, marcas y más</div>
            <div class="submit"><i class="fa fa-search"></i></div>
        </div>
        <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
    </div>
        <nav>
        <div class="navbarLeft">
        <ul class="navbar-left">
            <li><a href="">Ofertas</a></li>
            <li><a href="">Tiendas Oficiales</a></li>
            <li><a href="">Vender</a></li>
            <li><a href="">Ayuda</a></li>
        </div>
      
        </ul>
        <div class="navbarRight">
            <ul class="navbar-right">
                <li><a href="/register"> Crea tu cuenta <i class="far fa-id-card"></i></a></li>
                <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </div>

        </nav>
        <div class="burger-menu">
             <i class="fa fa-bars burger"></i>
        </div>
    </header>
<section class="banner">
    <img src="/images/img-home-banner.jpg" width="100%" alt="Home banner">
</section>
<main>
    <section class="last-visit">
        <h3>Basado en tu ultima visita</h3>
        <div class="products"> 
            <article>
            <img src="/images/img-cafetera-moulinex.jpg" width="360" alt="Cafetera Moulinex" class="product_img">
            <div class="main-article">
                <i class="fas fa-truck"></i>
                <p class="price">$ 6.770</p>
                <p class="discount"> 40% OFF </p>
                <h4 class="description">Cafetera Moulinex </h4>
            </div>
        </article>
        <article>
        <div> 
            <img src="/images/img-macbook-pro-2019.jpg" width="360" alt="MacBook Pro 2019">
            <div class="main-article">
                <i class="fas fa-truck"></i>
                <p class="price"> $ 230.000</p>
                <p class="discount"> 20% OFF </p>
                <h4 class="description">MacBook Pro 2019 </h4>
            </div> 
        </article>
        <article>
            <div> 
            <img src="/images/img-samsung-galaxy-s10.jpg" width="360" alt="Samsung Galaxy S10">
            <div class="main-article">
                <i class="fas fa-truck"></i>
                <p class="price">$ 70.500</p>
                <p class="discount"> 10% OFF </p>
                <h4 class="description"> Samsung Galaxy </h4>
            </div>  
    </article>
    <article>  
            <div> 
            <img src="/images/img-tv-samsung-smart.jpg" width="360" alt=' SmartTV Samsung 43"'>
            <div class="main-article">
                <i class="fas fa-truck"></i>
                <p class="price">$ 23.200</p>
                <p class="discount"> 5% OFF </p>
                <h4 class="description">Smart Tv SAmsung 43" </h4>
            </div>       
    </article>
    </div>
    </section>

    <section class="Offers">
    <h3>Seccion de Ofertas</h3>
    <div class="products"> 
        <article>
        <img src="/images/img-cafetera-moulinex.jpg" width="360" alt="Cafetera Moulinex" class="product_img">
        <div class="main-article">
            <i class="fas fa-truck"></i>
            <p class="price">$ 6.770</p>
            <p class="discount"> 40% OFF </p>
            <h4 class="description">Cafetera Moulinex </h4>
        </div>
    </article>
    <article>
    <div> 
        <img src="/images/img-macbook-pro-2019.jpg" width="360" alt="MacBook Pro 2019">
        <div class="main-article">
            <i class="fas fa-truck"></i>
            <p class="price"> $ 230.000</p>
            <p class="discount"> 20% OFF </p>
            <h4 class="description">MacBook Pro 2019 </h4>
        </div> 
    </article>
    <article>
        <div> 
        <img src="/images/img-samsung-galaxy-s10.jpg" width="360" alt="Samsung Galaxy S10">
        <div class="main-article">
            <i class="fas fa-truck"></i>
            <p class="price">$ 70.500</p>
            <p class="discount"> 10% OFF </p>
            <h4 class="description"> Samsung Galaxy </h4>
        </div>  
</article>
<article>  
        <div> 
        <img src="/images/img-tv-samsung-smart.jpg" width="360" alt=' SmartTV Samsung 43"'>
        <div class="main-article">
            <i class="fas fa-truck"></i>
            <p class="price">$ 23.200</p>
            <p class="discount"> 5% OFF </p>
            <h4 class="description">Smart Tv SAmsung 43" </h4>
        </div>       
</article>
</div>
</section>

</main>


<footer>
    <ul> 
    
    <div class="iconos-footer">  
        <i class="fas fa-credit-card"></i>
    </div> 
        <h4 class="subtitulo-footer">Pagá con tarjeta o en efectivo</h4>
        <p>Con Mercado Libre Cash, tenés cuotas sin interes con tarjeta o efectivo en puntos de pago.¡Y Siempre es seguro!</p>
       
    <div class="iconos-footer">  
            <i class="fas fa-gift"></i>
    </div>       
        <h4 class="subtitulo-footer">Envio gratis desde $ 2.500</h4>
        <p>Solo por estar registrada en Mercado Libre tenés envíos gratis en miles de productos. Es un beneficio de Marcado Puntos.</p>
        
    <div class="iconos-footer"> 
        <i class="fas fa-user-shield"></i>
    </div>      

        <h4 class="subtitulo-footer"> Seguridad, de principio a fin</h4>
        <p>¿No te gusta?¡Devolvelo! En MercadoLiebre, no hay nada que no puedas hacer, porque estás siempre protegido.</p>
        <h4>Copyright c 1999-2020 MarcadoLiebre S.R.L.</h4>
    </ul>
</footer>
</body>
</html>